.alert {
  gap: 16px;
  display: flex;
  border-width: 1px;
  padding: 12px 16px;
  border-style: solid;
  align-items: center;
  border-radius: 10px;
  &.jcsb {
    justify-content: space-between;
  }
  &.centerAligned {
    justify-content: center;
  }
  &.info {
    border-color: #ddd;
    background-color: #e9ecef;

    .colorText {
      color: #495057;
    }
  }
}
