.button {
  height: 50px;
  display: flex;
  outline: none;
  padding: 0 26px;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  border: 1px solid transparent;
  &:disabled {
    cursor: default;
  }
  &.block {
    flex-grow: 1;
  }
  &.inline {
    display: inline-flex;
  }
  &.ttu {
    text-transform: uppercase;
  }
  &.blue {
    color: #fff;
    background-color: #00A3FF;
    &:hover { background-color: darken(#00A3FF, 5%); }
    &:active { background-color: darken(#00A3FF, 10%); }
    &:disabled { opacity: 50%; background-color: #00A3FF; }
  }
}
