.colors {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .colorWrapper {
    flex: 1;
    gap: 10px;
    height: 100%;
    display: flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;

    .colorCode {
      padding: 0;
      border: none;
      font-size: 40px;
      cursor: pointer;
      font-weight: 600;
      appearance: none;
      background-color: transparent;
    }
  }
}
