.colorWrapper {
  gap: 10px;
  flex: 1 1 0;
  height: 100%;
  display: flex;
  min-width: 250px;
  padding-top: 80px;
  position: relative;
  align-items: center;
  flex-direction: column;

  .colorCode {
    color: inherit;
    padding: 0 15px;
    font-size: 40px;
    font-weight: 600;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 150ms;
    &.black {
      &:hover, &.open {
        background-color: black;
      }
    }
    &.white {
      &:hover, &.open {
        background-color: white;
      }
    }
  }

  .icons {
    gap: 5px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;

    .iconWrapper {
      width: 40px;
      height: 40px;
      display: flex;
      color: inherit;
      font-size: 24px;
      font-weight: 600;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: background-color 150ms;
      &.black {
        &:hover, &.dragging {
          background-color: black;
        }
      }
      &.white {
        &:hover, &.dragging {
          background-color: white;
        }
      }
    }
  }

  .colorPickerWrapper {
    top: 150px;
    z-index: 2;
    position: absolute;
  }

  .newColorButtonWrapper {
    top: 0;
    right: 0;
    z-index: 2;
    width: 100px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    margin-right: -50px;
    justify-content: center;
    &.firstButton {
      left: 0;
      margin-left: 0;
    }
    &.lastButton {
      margin-right: 0;
    }
    &:hover {
      .newColorButton {
        opacity: 1;
        transform: scale(1);
      }
    }

    .newColorButton {
      opacity: 0;
      width: 50px;
      height: 50px;
      display: flex;
      font-size: 24px;
      border-radius: 50%;
      align-items: center;
      transform: scale(0);
      transition: all 150ms;
      background-color: #fff;
      justify-content: center;
      &:hover {
        background-color: darken(#fff, 10%);
      }
      &:active {
        background-color: darken(#fff, 20%);
      }
    }
  }
}
