.colors {
  height: 100%;
  display: flex;
  flex-direction: row;

  .colorWrapper {
    gap: 10px;
    flex: 1 1 0;
    height: 100%;
    display: flex;
    padding-top: 80px;
    position: relative;
    align-items: center;
    flex-direction: column;

    .colorCode {
      color: inherit;
      font-size: 40px;
      font-weight: 600;
      background-color: transparent;
    }

    .colorPickerWrapper {
      top: 150px;
      z-index: 2;
      position: absolute;
    }

    .newColorButtonWrapper {
      top: 0;
      right: 0;
      z-index: 2;
      width: 100px;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      margin-right: -50px;
      justify-content: center;
      &.firstButton {
        left: 0;
        margin-left: 0;
      }
      &.lastButton {
        margin-right: 0;
      }
      &:hover {
        .newColorButton {
          opacity: 1;
        }
      }

      .newColorButton {
        opacity: 0;
        width: 50px;
        height: 50px;
        display: flex;
        font-size: 24px;
        border-radius: 50%;
        align-items: center;
        transition: all 250ms;
        background-color: #fff;
        justify-content: center;
        &:hover {
          background-color: darken(#fff, 10%);
        }
        &:active {
          background-color: darken(#fff, 20%);
        }
      }
    }
  }
}
