.tabs {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .header {
    gap: 5px;
    display: flex;
    align-items: center;

    .button {
      display: flex;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 5px;
      align-items: center;
      transition: all 150ms;
      background-color: #fff;
      justify-content: center;
      &:hover {
        background-color: darken(#fff, 5%);
      }
      &:active, &.active {
        background-color: darken(#fff, 10%);
      }
    }
  }

  .content {
    max-height: 250px;
    position: relative;

    .copyButton {
      top: 10px;
      right: 10px;
      padding: 5px;
      display: flex;
      font-weight: 600;
      position: absolute;
      border-radius: 5px;
      align-items: center;
      transition: all 150ms;
      background-color: #fff;
      justify-content: center;
      &:hover {
        background-color: darken(#fff, 10%);
      }
      &:active {
        background-color: darken(#fff, 20%);
      }
      &.flashing {
        background-color: #2ecc71;
      }
    }

    .syntaxHighlighter {
      max-height: 250px;
      margin: 0 !important;
      border-radius: 10px !important;
    }
  }
}
