body {
  margin: 0;
}

body, input, textarea, button, select {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  appearance: none;
}

fieldset {
  padding: 0;
  border: none;
}