.palettes {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .palette {
    gap: 10px;
    height: 50px;
    display: flex;
    cursor: default;
    align-items: center;
    padding: 0 0 0 20px;
    border-radius: 10px;
    transition: all 150ms;
    justify-content: space-between;
    &:hover {
      background-color: darken(#fff, 5%);
    }

    .nameAndColors {
      gap: 10px;
      display: flex;
      align-items: center;
      width: calc(100% - 100px);
      justify-content: space-between;

      .name {
        font-weight: 600;
      }

      .colors {
        display: flex;

        .color {
          width: 24px;
          height: 24px;
        }
      }
    }

    .icons {
      display: flex;

      button {
        width: 50px;
        height: 50px;
        border-radius: 0;
        transition: all 150ms;
        background-color: transparent;
        &:hover {
          background-color: darken(#fff, 10%);
        }
        &:active {
          background-color: darken(#fff, 15%);
        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
