@import './inputs.scss';
@import './alerts.scss';
@import './buttons.scss';
@import './textareas.scss';

.modalOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);

  .modal {
    top: 50%;
    left: 50%;
    padding: 0;
    right: auto;
    bottom: auto;
    width: 500px;
    outline: none;
    overflow: visible;
    position: absolute;
    margin-right: -50%;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);

    .modalHeader {
      height: 50px;
      display: flex;
      padding: 0 20px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e5e5e5;

      .title {
        font-weight: 600;
      }

      .closeButton {
        width: 30px;
        height: 30px;
        display: flex;
        font-size: 20px;
        border-radius: 5px;
        align-items: center;
        transition: all 500ms;
        justify-content: center;
        background-color: #fff;
        &:hover {
          background-color: darken(#fff, 5%);
        }
        &:active {
          background-color: darken(#fff, 10%);
        }
      }
    }

    .modalContent {
      padding: 20px;

      .content {
        max-height: 250px;
        position: relative;

        .syntaxHighlighter {
          max-height: 250px;
          margin: 0 !important;
          border-radius: 10px !important;
        }
      }
    }
  }
}
