.textarea {
  width: 100%;
  outline: none;
  display: block;
  padding: 13px 16px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  &:focus {
    border-color: #00A3FF;
  }
  &:disabled {
    background-color: #FBFBFB;
  }
  &.invalid {
    border-color: #FF555E;
  }
}
